body {
    background: #21040d;
    background: radial-gradient(circle, rgba(33, 4, 13, 1) 0%, rgba(1, 23, 36, 1) 100%);
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.title {
    text-align: center;
}

.player-card {
    width: 90%;
    margin: auto;
    border: 2px solid #1b1b1b;
}

.player-banner {
    height: 120px;
    background-size: cover;
    background-position: center;
}

.player-content {
    background: rgba(17, 17, 17, 0.7);
    padding: 20px 20px 20px 140px;
    position: relative;
}

.player-avatar {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    border: 2px solid #1b1b1b;
    position: absolute;
    left: 20px;
    top: -48px;
    object-fit: cover;
}

.player-name {
    font-size: 26px;
    margin-bottom: 20px;
}

.player-stats {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.stat-box {
    background: #656565;
    padding: 14px 20px;
    min-width: 120px;
    border: 2px solid #5a5a5a;
}

.stat-title {
    font-size: 16px;
}

.stat-value {
    font-size: 20px;
    font-weight: bold;
}